<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-wkwebview-polyfill"
  version="1.0.0">

    <name>CordovaCrypt</name>
    <description>Plugin Description</description>
    <author>@busenm</author>
    <license>Apache 2.0 License</license>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="CDVCrypt">
			    <param name="ios-package" value="CDVCrypt"/>
			    <param name="onload" value="true"/>
		    </feature>
        </config-file>

        <header-file src="src/ios/CDVCrypt.h" />
        <source-file src="src/ios/CDVCrypt.m" />
        <header-file src="src/ios/CDVCryptURLProtocol.h" />
        <source-file src="src/ios/CDVCryptURLProtocol.m" />
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="DecryptResource">
                <param name="android-package" value="com.busenm.cordova.DecryptResource" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/com/busenm/cordova/AntiTamperingPlugin.java" target-dir="src/com/busenm/cordova" />
        <source-file src="src/android/com/busenm/cordova/AssetsIntegrity.java" target-dir="src/com/busenm/cordova" />
        <source-file src="src/android/com/busenm/cordova/DebugDetection.java" target-dir="src/com/busenm/cordova" />
        <source-file src="src/android/com/busenm/cordova/TamperingException.java" target-dir="src/com/busenm/cordova" />

        <source-file src="src/android/com/busenm/cordova/DecryptResource.java" target-dir="src/com/busenm/cordova" />
    </platform>

    <cryptfiles>
        <include>
            <file regex="\.(htm|html|js|css)$" />
        </include>
        <exclude>
        </exclude>
    </cryptfiles>

    <hook type="after_plugin_install" src="scripts/handle_plugin_preferences.js" />
    <hook type="after_prepare" src="scripts/handle_plugin_preferences.js" />
    <hook type="after_prepare" src="scripts/clear_assets_hashes.js" />
    <hook type="after_prepare" src="scripts/save_assets_hashes.js" />

    <!--crypt-file hook-->
    <hook type="after_prepare" src="hooks/after_prepare.js" />

</plugin>
